.card-slider-wrapper
    .current-image
        img#card-slide_1.current-image__img.active(src='img/single/s-img.jpg', alt='lorem ipsum')
        img#card-slide_2.current-image__img(src='img/single/s-img1.jpg', alt='lorem ipsum')
        img#card-slide_3.current-image__img(src='img/single/s-img2.jpg', alt='lorem ipsum')
        img#card-slide_4.current-image__img(src='img/single/s-img.jpg', alt='lorem ipsum')
    ul.card-slider-list
        li.card-slider-list__item
            img.card-slider-list__img(src='img/single/s-img.jpg', alt='lorem ipsum')
        li.card-slider-list__item
            img.card-slider-list__img(src='img/single/s-img1.jpg', alt='lorem ipsum')
        li.card-slider-list__item
            img.card-slider-list__img(src='img/single/s-img2.jpg', alt='lorem ipsum')
        li.card-slider-list__item
            img.card-slider-list__img(src='img/single/s-img.jpg', alt='lorem ipsum')