// Variables

$color_main: #676767;
$fz14px: 14px;
$green-btn: #7bae21;
$green: #7db122;
$blue-color: #4cb2cb;
$blue-color2: #38a0b9; 
$blue-color3: #0c4b5a;
$blue-color4: #4cb1ca;
$blue-color5: #39A0B9;
$h3-card: 16px;

// Mixins

@mixin flx-sbn {
    display: flex;
    justify-content: space-between;
}

@mixin flx-list-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin trans-2s_ease {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}