- const colors = ['Red', 'Green', 'Blue', 'Yellow', 'Violet', 'Orange', 'Gray']

article.filter-sidebar__color.filter-item
    h3.color__title.filter-title Color
    button.filter-btn.filter-btn--active
    ul.color-list.filter-list
        each color, id in colors
                li.color-item.list-item
                    button(type="checkbox" id=`color-list-${id + 1}` class="color-item__btn")
                    label(for=`color-list-${id + 1}` class="color-item__label")= color