article.filter-sidebar__categories.filter-item
    h3.categories__title.filter-title Categories
    button.filter-btn.active
    ul.categories-list.filter-list
        li.categories-list__item.list-item
            a.categories-list__link(href='#') Mens
        li.categories-list__item.list-item
            a.categories-list__link(href='#') Womens
        li.categories-list__item.list-item
            a.categories-list__link(href='#') Kids
        li.categories-list__item.list-item
            a.categories-list__link(href='#') Glasses Shop
