aside.filter-sidebar.side-bar
    include _filter-sidebar-categories.pug
    include _filter-sidebar-prices.pug
    include _filter-sidebar-brand.pug
    include _filter-sidebar-shape.pug
    include _filter-sidebar-type.pug
    include _filter-sidebar-color.pug
    include _filter-sidebar-size.pug