extends html-components/layouts/_default.pug

block vars
    - let pageTitle = 'LEO Shop. Other goods'
    - let pageDesc = 'LEO Shop. Best shop in the world, other page'

block seo
    meta(name="description", content= pageDesc)
    title= pageTitle
block content
    main.main-container
        .container.flex
            .products-container
                .products-block.section
                    h2.products-block__title.h2-title Others
                    include html-components/_sort-bar.pug
                    ul.products-block__list.list-items
                        +cards(cards)
            include html-components/filters-sidebar/_filters-sidebar-main.pug
            