aside.side-bar.right
    article.sidebar-banner.aside-items
        h2.sidebar-banner__title.h2-title Featured Glass
        ul.sidebar-banner__list
            li#slide_1.sidebar-banner__item.active
                img.sidebar-banner__img(src='./img/aside/t-img1.jpg', alt='banner-1')
            li#slide_2.sidebar-banner__item
                img.sidebar-banner__img(src='./img/aside/t-img2.jpg', alt='banner-2')
            li#slide_3.sidebar-banner__item
                img.sidebar-banner__img(src='./img/aside/t-img3.jpg', alt='banner-2')
        a.sidebar-banner__btn(href='#', title='Check it out') Check it out
        ol.banner-swipe__list
            li.banner-swipe__item.active
                button.banner-swipe__btn
            li.banner-swipe__item
                button.banner-swipe__btn
            li.banner-swipe__item
                button.banner-swipe__btn
    article.subscribe-wrapper.aside-items
        h2.subscribe-title.h2-title Newsletter sign up
        p.subscribe-subtitle Lorem ipsum dolor sit amen, dolor imun ra adlip  ulissys
        form.form-subscribe(action='#')
            input.form-subscribe__input(required='', type='email', placeholder='Type Email')
            button.form-subscribe__btn(title='Subscribe') Subscribe