section.banner-wrapper
    .controls-btn
        button.control-btn-prev.js-btn-prev(type='button', title='Prev', aria-label='Next')
        button.control-btn-next.js-btn-next(type='button', title='Next', aria-label='Next')
    ul.banner-list
        li.banner-item.banner-item--active
            picture
                source(srcset="./img/banner1.webp" type="image/webp")
                img#banner-item-1.banner-item__img(src='./img/banner1.jpg', alt='banner-1')
            .banner-content
                .banner-content__wrapper
                h3.banner-content__title Aluminium club
                .banner-content__wrapper
                h4.banner-content__desc Experience ray ban
        li.banner-item
            picture
                source(srcset="./img/banner2.webp" type="image/webp")
                img#banner-item-2.banner-item__img(src='./img/banner2.jpg', alt='banner-2')
            .banner-content
                .banner-content__wrapper
                h3.banner-content__title Lorem ipsum dolor
                .banner-content__wrapper
                h4.banner-content__desc  Harum doloremque
        li.banner-item
            picture
                source(srcset="./img/banner3.webp" type="image/webp")
                img#banner-item-3.banner-item__img(src'./img/banner3.jpg', alt='banner-3')
            .banner-content
                .banner-content__wrapper
                h3.banner-content__title Culpa volupta
                .banner-content__wrapper
                h4.banner-content__desc Laboriosam upta
