.container.flex
    .products-container
        section.products-block.section
            h2.products-block__title.h2-title Featured Products
            ul.products-block__list.list-items

        section.favorites-block.section
            h2.favorites-block__title.h2-title Staff pick
            ul.favorites-block__list.list-items
        section.newproducts-block.section
            h2.newproducts-block__title.h2-title New Products
            ul.newproducts-block__list.list-items
    include _aside.pug