- const collage = ['face1','face2', 'face3', 'face4', 'face5', 'face6', 'face7', 'face8'];

footer.footer
    .container
        .footer-topbar
            .footer-shipping
                button.footer-shipping__btn

                h3.footer-shipping__title Free shipping on orders over $100
            .footer-call
                button.footer-call__btn

                h3.footer-call__title Call us! toll free - 409-8888-0099
    .footer-mainbar
        .container.flex-footer
            section.facebook-block
                h3.facebook-block__title.footer-title Facebook

                p.facebook-block__desc 20000 Members

                button.facebook-block__icon
                .facebook-collage-wrapper
                    .facebook-collage
                        each img, index in collage
                            img(src=`./img/footer/collage/${img}.jpeg`, alt=`face-${index + 1}`)
                a.facebook-block__desc(href='#') Facebook Social plugin
            section.twitter-block
                h3.twitter-block__title.footer-title From twitter
                a.twitter-block__desc(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                
                a.twitter-block__desc(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            section.info-block
                h3.info-block__title.footer-title From twitter
                ul.info-nav
                    li.info-nav__item
                        a.info-nav__link(href='#') Sed ultrices purus non.
                    li.info-nav__item
                        a.info-nav__link(href='#') Sodales sodales.
                    li.info-nav__item
                        a.info-nav__link(href='#') Curabitur pretium dui vitae.
                    li.info-nav__item
                        a.info-nav__link(href='#') Donec gravida mi in nisl
                    li.info-nav__item
                        a.info-nav__link(href='#') Faucibus leo condimentum.
                    li.info-nav__item
                        a.info-nav__link(href='#') Donec et lorem suscipit.
            section.contacts-block
                h3.contacts-block__title.footer-title Contact Us
                ul.contacts-nav
                    li.contacts-nav__item
                        a.contacts-nav__link(href='#') Leo Store
                    li.contacts-nav__item
                        a.contacts-nav__link(href='#') Leopards media
                    li.contacts-nav__item
                        a.contacts-nav__link(href='#') KVM Rpad, 4590GH
                    li.contacts-nav__item
                        a.contacts-nav__link(href='tel:+148988880099') +1 489-8888-0099
                    li.contacts-nav__item
                        a.contacts-nav__link(href='mailto:mail@email.com') mail@email.com
                .socials-btn
                    ul.socials-btn__list
                        li.socials-btn__item
                            a.socials-btn__google.socials-links(href='#')
                        li.socials-btn__item
                            a.socials-btn__linkedin.socials-links(href='#')
                        li.socials-btn__item
                            a.socials-btn__twitter.socials-links(href='#')
                        li.socials-btn__item
                            a.socials-btn__fb.socials-links(href='#')
    .bar-bottom
        .container.flex
            a.bar-bottom__desc(href='#') &copy; 2014 Leoshop. All rights reserved
            nav.nav-footer
                ul.nav-footer__list
                    li.nav-footer__item
                        a.nav-footer__link(href='#') About Us
                    li.nav-footer__item
                        a.nav-footer__link(href='#') Delivery &amp; Returns
                    li.nav-footer__item
                        a.nav-footer__link(href='#') Terms &amp; Conditions
                    li.nav-footer__item
                        a.nav-footer__link(href='#') Contact Us